@charset "utf-8";
body{
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-image: url(images/gif.gif);
}
#header2{
	width: 900px;
	height: 1600px;
	margin-right: auto;
	margin-left: auto;
	background-color: hsla(0,0%,100%,0.92);	
	border-left: thin solid #A8A8A8;
	border-right: thin solid #A8A8A8;
}

.main1 ul {
	float: left;
	width: 200px;
	margin-top:100px;
	margin-left: 15px;
	text-decoration: none;
	font-size: 25px;
}

.main1 ul li{
	list-style-type: none;
	font-family: "Chogokuboso Gothic";
	color: hsla(45,87%,50%,1.00);
	text-shadow: 2px 0px;
	
}

.main2{
	float: right;
	width: 600px;
	margin-right: 23px;
	margin-top:85px;
	font-family: "Chogokuboso Gothic";
	
}
.main1 ul li a {
	color: hsla(45,87%,50%,1.00);
	text-decoration: none;	
}

h2, h4{color: hsla(45,87%,50%,1.00);}